<!-- Mainbar head starts -->
<div class="main-head">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-4 col-xs-6">
        <% if map.user == current_user %>
          <h4><i class="fa fa-map lblue"></i> Your map: <%= map.name %></h4>
          <%= link_to "Edit Map", edit_map_path(@map) %> <span class="link-divider">|</span> <%= link_to "Delete Map", map_path(@map), method: :delete %>
          
        <% else %>
          <h4><i class="fa fa-map lblue"></i> <%= link_to map.user.name.capitalize+"'s", user_path(@map.user) %> map: <%= map.name %></h4>
        <% end %>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-6">
        <%= form_for(@map, :html => {:class => "ui-element-container form-inline"}) do |f| %>
        <div class="form-group input-group input-group-sm">
          <span class="input-group-btn"><%= f.button "New Moment", :class => "btn btn-info", :id => "submit" %></span>
          <%= f.fields_for @map.moments.build, html: { multipart: true } do |moment_f| %>
            <%= moment_f.text_field :memo, :class => 'form-control', :placeholder => 'create a new moment' %>
            <%= moment_f.file_field :image, :class => 'form-control' %>
            <%= moment_f.hidden_field :latitude %>
            <%= moment_f.hidden_field :longitude %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Mainbar head ends -->

