<!-- Mainbar head starts -->
<div class="main-head">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <% if map.user == current_user %>
          <h4><i class="fa fa-map lblue"></i> Your Map: <%= map.name %></h4>
          <%= link_to "Edit Map", edit_map_path(@map) %> <span class="link-divider">|</span> <%= link_to "Delete Map", map_path(@map), method: :delete %>
          
        <% else %>
          <h4><i class="fa fa-map lblue"></i> <%= link_to map.user.name.capitalize+"'s", user_path(@map.user) %> map: <%= map.name %></h4>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4"></div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <p>Share This Map with a Friend</p>
        <%= form_tag(map_send_link_to_friend_path(@map), :html => {:class => "ui-element-container form-inline"}) do %>
        <div class="form-group input-group input-group-sm">
          <%= text_field_tag :friend_email, nil, :class => 'form-control', :placeholder => 'friend@nostalgeo.com' %>
          <span class="input-group-btn"><%= submit_tag "Send Email", :class => "btn btn-info" %></span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Mainbar head ends -->

