<%= render partial: "map", locals: {url: map_geojson_path(@map), action: "map#show"} %>

<h2>add a moment to this map:</h2>
  <%= form_for(@map) do |f| %>
    <p>
      <%= f.fields_for @map.moments.build, html: { multipart: true } do |moment_f| %>
        <%= moment_f.label :memo %>
        <%= moment_f.text_field :memo %>
        <%= moment_f.file_field :image %>
        <%= moment_f.hidden_field :latitude %>
        <%= moment_f.hidden_field :longitude %>
      <% end %>
    </p>

    <%= f.submit "Create a New Moment", :id => "submit" %>
  <% end %>

<h2>Current Moments:</h2>
<ol id="moments">
<% @map.moments.each do |moment| %>
  <% if moment.persisted? %>
    <ul>
      <li class="memo"><h3>Content: <%= moment.memo %></h3></li>
      <li class="lat"><p>Latitude: <%= moment.latitude %></p></li>
      <li class="long"><p>Longitude: <%= moment.longitude %></p></li>
      <% if moment.image.exists? %> 
        <%= link_to image_tag(moment.image.url(:med)), moment.image.url %>
      <% end %> 
      <li><%= link_to "Edit Moment", edit_moment_path(moment) %></li>
      <li><%= link_to "Delete Moment", moment_path(moment), method: :delete %></li>
    </ul>
  <% end %>
<% end %>
</ol>

<h3>Share Your Map with A Friend</h3>
  <%= form_tag(map_send_link_to_friend_path(@map)) do %>
    <p>
    <%= text_field_tag :friend_email %>
    </p>
  <%= submit_tag "Send Email" %>
  <% end %>

<script>
  $("#submit").val("Automagical ...").prop('disabled', true);
  getCoordinates(function(latitude,longitude){
    $("#map_moment_latitude").val(latitude);
    $("#map_moment_longitude").val(longitude);
    $("#submit").val("Create a New Moment").prop('disabled', false);
  });
</script>