<%= render layout: "layouts/mainbar" do %>
  <div class="col-md-4 col-sm-4 col-xs-6">
      <h4><i class="fa fa-map lblue"></i> Your Map: <%= @map.name %></h4>
      <%= link_to "Edit Map", edit_map_path(@map) %> <span class="link-divider">|</span> <%= link_to "Delete Map", map_path(@map), method: :delete %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6"></div>
  <div class="col-md-4 col-sm-4 col-xs-6">
    <p>Share This Map with a Friend</p>
    <%= form_tag(map_send_link_to_friend_path(@map), :html => {:class => "ui-element-container form-inline"}) do %>
      <div class="form-group input-group input-group-sm">
        <%= text_field_tag :friend_email, nil, :class => 'form-control', :placeholder => 'friend@nostalgeo.com' %>
        <span class="input-group-btn"><%= submit_tag "Send Email", :class => "btn btn-info" %></span>
      </div>
    <% end %>
  </div>
<% end %>


<%= render partial: "map", locals: {url: map_geojson_path(@map), action: "map#show"} %>

<div class="momentlist col-md-4" style="padding-left:5px;padding-right:5px">
  <div class="widget">
    <div class="widget-head br-lblue" data-toggle="collapse" data-target="#collapseExample">
      <h3 class= "pull-left"><i class= "fa fa-plus"></i> Add New Moment</h3>
      <div class="clearfix"></div>
    </div>
    <div class="widget-body collapse" id="collapseExample">
      <%= form_for(@map, :html => {:class => "ui-element-container form-inline"}) do |f| %>
        <div class="form-group input-group input-group-sm">
          <%= f.fields_for @map.moments.build, html: { multipart: true } do |moment_f| %>
            <%= moment_f.text_field :memo, :class => 'form-control', :placeholder => 'create a new moment' %>
            <%= moment_f.file_field :image, :class => 'form-control' %>
            <%= moment_f.hidden_field :latitude %>
            <%= moment_f.hidden_field :longitude %>
          <% end %>
            <%= f.button "New Moment", :class => "btn btn-info btn-block", :id => "submit" %>
        </div>
      <% end %>
    </div>
  </div>

  <% @map.moments.each do |moment| %>
    <% if moment.persisted? %>
      <div class="widget">
        <div class="widget-head br-lblue">
          <% if Geocoder.address("#{moment.latitude},#{moment.longitude}") %>
            <% coord_arr = Geocoder.address("#{moment.latitude},#{moment.longitude}").split(", ") %>
            <h3 class="pull-left"><i class="fa fa-map-marker"></i> <%= "#{coord_arr[1]}, #{coord_arr[2].split(" ")[0]} #{coord_arr[3]}" %></h3>
          <% else %>
            <h3 class="pull-left"><i class="fa fa-map-marker"></i> <%= moment.latitude %>, <%= moment.longitude %></h3>
          <% end %>
          <h3 class="pull-right" style="text-align:center;font-size:10px;"><%= link_to "Edit Moment", edit_moment_path(moment) %> | <%= link_to "Delete Moment", moment_path(moment), method: :delete %></h3>
          <div class="clearfix"></div>
        </div>
        <div class="widget-body">
          <% if moment.image.exists? %>
            <%= link_to image_tag(moment.image.url), moment.image.url %>
          <% end %>
          <p><%= moment.memo %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $("#submit").val("Automagical ...").prop('disabled', true);
  getCoordinates(function(latitude,longitude){
    $("#map_moment_latitude").val(latitude);
    $("#map_moment_longitude").val(longitude);
    $("#submit").val("Create a New Moment").prop('disabled', false);
  });
</script>