<%= render partial: "map", locals: {url: map_geojson_path(@map), action: "map#show"} %>

<h2>Current Moments:</h2>
<ol id="moments">
<% @map.moments.each do |moment| %>
  <% if moment.persisted? %>
    <ul>
      <li class="memo"><h3>Content: <%= moment.memo %></h3></li>
      <li class="lat"><p>Latitude: <%= moment.latitude %></p></li>
      <li class="long"><p>Longitude: <%= moment.longitude %></p></li>
      <% if moment.image.exists? %> 
        <%= link_to image_tag(moment.image.url(:med)), moment.image.url %>
      <% end %> 
      <li><%= link_to "Edit Moment", edit_moment_path(moment) %></li>
      <li><%= link_to "Delete Moment", moment_path(moment), method: :delete %></li>
    </ul>
  <% end %>
<% end %>
</ol>

<%= form_for(@map, :html => {:class => "ui-element-container form-inline"}) do |f| %>
  <div class="form-group input-group input-group-sm">
    <span class="input-group-btn"><%= f.button "New Moment", :class => "btn btn-info", :id => "submit" %></span>
    <%= f.fields_for @map.moments.build, html: { multipart: true } do |moment_f| %>
      <%= moment_f.text_field :memo, :class => 'form-control', :placeholder => 'create a new moment' %>
      <%= moment_f.file_field :image, :class => 'form-control' %>
      <%= moment_f.hidden_field :latitude %>
      <%= moment_f.hidden_field :longitude %>
    <% end %>
  </div>
<% end %>

<script>
  $("#submit").val("Automagical ...").prop('disabled', true);
  getCoordinates(function(latitude,longitude){
    $("#map_moment_latitude").val(latitude);
    $("#map_moment_longitude").val(longitude);
    $("#submit").val("Create a New Moment").prop('disabled', false);
  });
</script>