<%= render partial: "map", locals: {url: map_geojson_path(@map), action: "map#show"} %>

<div class="main-content container">
  <div class="page-content">
    <div class="single-head">
      <h3 class="pull-left"><i class="fa fa-picture-o red"></i> <%= @map.name.capitalize %>'s Moments</h3>
      <div class="clearfix"></div>
    </div>
    <div class="page-gallery">
      <div id="gallery">
        <% @map.moments.each do |moment| %>
          <% if moment.persisted? %>
            <div class="element">
              <% if moment.image.exists? %>
                <%= link_to image_tag(moment.image.url(:med), :class => 'img-responsive'), moment.image.url, {:class =>'prettyphoto'} %>
              <% end %>
              <div class="gall-caption">
                <ul class="list-unstyled">
                  <li class="memo"><h5><%= moment.memo %></h5></li>
                  <li><p><%= link_to "Edit Moment", edit_moment_path(moment) %> | <%= link_to "Delete Moment", moment_path(moment), method: :delete %></p></li>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= form_for(@map, :html => {:class => "ui-element-container form-inline"}) do |f| %>
  <div class="form-group input-group input-group-sm">
    <span class="input-group-btn"><%= f.button "New Moment", :class => "btn btn-info", :id => "submit" %></span>
    <%= f.fields_for @map.moments.build, html: { multipart: true } do |moment_f| %>
      <%= moment_f.text_field :memo, :class => 'form-control', :placeholder => 'create a new moment' %>
      <%= moment_f.file_field :image, :class => 'form-control' %>
      <%= moment_f.hidden_field :latitude %>
      <%= moment_f.hidden_field :longitude %>
    <% end %>
  </div>
<% end %>

<script>
  $("#submit").val("Automagical ...").prop('disabled', true);
  getCoordinates(function(latitude,longitude){
    $("#map_moment_latitude").val(latitude);
    $("#map_moment_longitude").val(longitude);
    $("#submit").val("Create a New Moment").prop('disabled', false);
  });
</script>