<%= form_for(@map) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %> 
  <p>
  
  <p>
    <%= f.fields_for :moments do |moment_field| %>
      <%= moment_field.label :memo %>
      <%= moment_field.text_field :memo %>
      <%= moment_field.hidden_field :latitude %>
      <%= moment_field.hidden_field :longitude %>
    <% end %>
  </p>

  <%= f.submit %>
<% end %>