<h1>Map Name:<%= @map.name %></h1>
<%= link_to "Edit Map Name", edit_map_path(@map) %> | <%= link_to "Delete Map", map_path(@map), method: :delete %>

<p>Lat: <%= params['lat'] %> | Long: <%= params['long'] %></p>

<h2>add a moment to this map:</h2>
  <%= form_for(@map) do |f| %>
    <p>
      <%= f.fields_for @map.moments.build, html: { multipart: true } do |moment_f| %>
        <%= moment_f.label :memo %>
        <%= moment_f.text_field :memo %>
        <%= moment_f.file_field :image %>
        <%= moment_f.hidden_field :latitude %>
        <%= moment_f.hidden_field :longitude %>
      <% end %>
    </p>

    <%= f.submit "Create a New Moment", :id => "submit" %>
  <% end %>

  <div id= 'map' style= 'position:absolute; top:0; bottom:0; height: 25%; width:25%;'>
    <script>
    makeMap(<%= params['lat'] %>, <%= params['long'] %>);
    </script>
  </div>


<h2>Current Moments:</h2>
<ol>
<% @map.moments.each do |moment| %>
  <% if moment.persisted? %>
  <li>Content: <%= moment.memo %> </li>
    <ul>
      <li>Latitude: <%= moment.latitude %></li>
      <li>Longitude: <%= moment.longitude %></li>
      <% if moment.image.exists? %> 
        <%= link_to image_tag(moment.image.url(:med)), moment.image.url %>
      <% end %> 
      <li><%= link_to "Edit Moment", edit_moment_path(moment) %></li>
      <li><%= link_to "Delete Moment", moment_path(moment), method: :delete %></li>
    </ul>
    <% end %>
<% end %>
</ol>


<script> 
$(function() {
  $("#submit").val("Automagical ...").prop('disabled', true);
  getCoordinates(function(latitude,longitude){
    $("#map_moment_latitude").val(latitude);
    $("#map_moment_longitude").val(longitude);
    $("#submit").val("Create a New Moment").prop('disabled', false);
  });

});
</script>






