<h1>Map Name: <%= @map.name %></h1>
<%= link_to "Edit Map Name", edit_map_path(@map) %> | <%= link_to "Delete Map", map_path(@map), method: :delete %>

<div id="map-wrapper">
  <div id= 'map'>
    <script>
      $(function() {
        var arr = [];
        $('#moments ul').toArray().forEach(function(moment){
          arr.push([moment.getElementsByClassName('lat')[0].innerHTML.split(": ")[1], moment.getElementsByClassName('long')[0].innerHTML.split(": ")[1]])
        });
        $("#submit").val("Automagical ...").prop('disabled', true);
          getCoordinates(function(latitude,longitude){
            $("#map_moment_latitude").val(latitude);
            $("#map_moment_longitude").val(longitude);
            if($('#moments').find('li').length === 0){
              makeCurrentMap(latitude, longitude);
            }else{
              makeMomentMap(arr);
            };
            $("#submit").val("Create a New Moment").prop('disabled', false);
          });
      });
    </script>
  </div>
<!--  <pre id='coordinates' class='ui-coordinates'></pre>-->
</div>

<h2>add a moment to this map:</h2>
  <%= form_for(@map) do |f| %>
    <p>
      <%= f.fields_for @map.moments.build, html: { multipart: true } do |moment_f| %>
        <%= moment_f.label :memo %>
        <%= moment_f.text_field :memo %>
        <%= moment_f.file_field :image %>
        <%= moment_f.hidden_field :latitude %>
        <%= moment_f.hidden_field :longitude %>
      <% end %>
    </p>

    <%= f.submit "Create a New Moment", :id => "submit" %>
  <% end %>

<h2>Current Moments:</h2>
<ol id="moments">
<% @map.moments.each do |moment| %>
  <% if moment.persisted? %>
  <li>Content: <%= moment.memo %> </li>
    <ul>
      <li class="lat">Latitude: <%= moment.latitude %></li>
      <li class="long">Longitude: <%= moment.longitude %></li>
      <% if moment.image.exists? %> 
        <%= link_to image_tag(moment.image.url(:med)), moment.image.url %>
      <% end %> 
      <li><%= link_to "Edit Moment", edit_moment_path(moment) %></li>
      <li><%= link_to "Delete Moment", moment_path(moment), method: :delete %></li>
    </ul>
    <% end %>
<% end %>
</ol>