<div class="col-md-9">
  <div id="map-wrapper">
    <div class="custom-popup" id= 'map'>
      <script>
        $(function() {
          mainMap = new MakeMap("<%= user_geojson_path(current_user) %>","user#show");
        });
      </script>
    </div>
  </div>
</div>

<div class="sidemaps col-md-3">
  <% current_user.maps.each do |map| %>
    <a href="/maps/<%= map.id %>"><div class="minimap" id="map-<%= map.id %>">
      <script>
         minimap = new MakeMap("<%= map_geojson_path(map) %>","minimap","<%= map.id %>");
      </script>
      <div class="title"><p><%= map.name %></p></div>
    </div></a>
  <% end %>
</div>

<h3>Create a New Map</h3>
<%= form_tag("/maps") do %>
  <%= label_tag('map[name]', "Name") %>
  <%= text_field_tag('map[name]') %>
<%= submit_tag "Create Map", :id => "createmap" %>
<% end %>

<%= form_tag(user_friends_path(@user)) do %>
  <%= text_field_tag :friend_name %>
  <%= submit_tag "Find People to Follow!" %>
<% end %>


<p> ~ Test Code Please Ignore ~ </p>
<ul>
<% User.all.each do |user| %>
<li><%= user.name %></li>
<% end %> 
</ul>