<h1>Hi <%= current_user.name %></h1>

<div id="map-wrapper">
  <div class="custom-popup" id= 'map'>
    <script>
      $(function() {
        map = new MakeMap("<%= user_geojson_path(current_user) %>","user#show");
      });
    </script>
  </div>
</div>

<h3>Maps:</h3>
<ul id="mapList">
  <% current_user.maps.each do |map| %>
    <li class="mapListItem" id="map-<%= map.id %>"><%= link_to map.name, map_path(map) %></li>
  <% end %>
</ul>

<h3>Create a New Map</h3>
<%= form_tag("/maps") do %>
  <%= label_tag('map[name]', "Name") %>
  <%= text_field_tag('map[name]') %>
<%= submit_tag "Create Map", :id => "createmap" %>
<% end %>

<h3>Following:</h3>
<ul>
<% current_user.friends.each do |friend| %>
  <li><%= link_to friend.name, user_path(friend) %> | <%= link_to "un-follow", user_friends_path(user_id: current_user, friend_id: friend.id), method: 'delete' %></li>
<% end %>
</ul>

<%= form_tag(user_friends_path(@user)) do %>
  <%= text_field_tag :friend_name %>
  <%= submit_tag "Find People to Follow!" %>
<% end %>


<p> ~ Test Code Please Ignore ~ </p>
<ul>
<% User.all.each do |user| %>
<li><%= user.name %></li>
<% end %> 
</ul>
