<div class="col-md-3" style="height:600px;overflow: scroll;">
  <% current_user.maps.each do |map| %>
    <a href="/maps/<%= map.id %>"><div class="minimap" id="map-<%= map.id %>" style="height:150px;width:100%;">
      <script>
        L.mapbox.accessToken = 'pk.eyJ1Ijoid2FsdGVyYm0iLCJhIjoiMDU5ODljMDBjNzg3ZThlZTJlMTAwYWRhMTFjYWE0MzUifQ.CJ0ZCaTRHRMJTWDE0kIubA';
        var map<%= map.id %> = L.mapbox.map('map-<%= map.id %>', 'mapbox.streets-satellite',{
          scrollWheelZoom: false,
          zoomControl: false,
          doubleClickZoom: false,
          touchZoom: false,
          dragging: false,
          compact: true,
          animate: true
        }).setView([0,0],1)
        var myLayer<%= map.id %> = L.mapbox.featureLayer().addTo(map<%= map.id %>);
        $.get("<%= map_geojson_path(map) %>", function(data) {
          if (data.length === 0) {
            getCoordinates(function(latitude,longitude){
              map<%= map.id %>.setView([latitude,longitude],13)
            });
          }else{
            latitude = data[0].geometry.coordinates[1];
            longitude = data[0].geometry.coordinates[0];
            map<%= map.id %>.setView([latitude,longitude],13)
            myLayer<%= map.id %>.setGeoJSON({
              type: 'FeatureCollection',
              features: data
            });
            setTimeout(function () {
              map<%= map.id %>.fitBounds(myLayer<%= map.id %>.getBounds())
            }, 0);
            var line = [];
            myLayer<%= map.id %>.eachLayer(function(marker) {line.push(marker.getLatLng())});
            var polyline_options = {color: '#15b3d9'};
            var polyline = L.polyline(line, polyline_options).addTo(map<%= map.id %>);
          }
        });
        myLayer<%= map.id %>.on('click', function(e) {
          e.layer.closePopup();
          map<%= map.id %>.fitBounds(myLayer<%= map.id %>.getBounds())
        });
      </script>
    </div></a>
  <% end %>
</div>

<div class="col-md-9">
  <div id="map-wrapper">
    <div class="custom-popup" id= 'map'>
      <script>
        $(function() {
          mainMap = new MakeMap("<%= user_geojson_path(current_user) %>","user#show");
        });
      </script>
    </div>
  </div>
</div>

<h3>Maps:</h3>
<ul id="mapList">
  <% current_user.maps.each do |map| %>
    <li class="mapListItem" id="map-<%= map.id %>"><%= link_to map.name, map_path(map) %></li>
  <% end %>
</ul>

<h3>Create a New Map</h3>
<%= form_tag("/maps") do %>
  <%= label_tag('map[name]', "Name") %>
  <%= text_field_tag('map[name]') %>
<%= submit_tag "Create Map", :id => "createmap" %>
<% end %>

<h3>Following:</h3>
<ul>
<% current_user.friends.each do |friend| %>
  <li><%= link_to friend.name, user_path(friend) %> | <%= link_to "un-follow", user_friends_path(user_id: current_user, friend_id: friend.id), method: 'delete' %></li>
<% end %>
</ul>

<%= form_tag(user_friends_path(@user)) do %>
  <%= text_field_tag :friend_name %>
  <%= submit_tag "Find People to Follow!" %>
<% end %>


<p> ~ Test Code Please Ignore ~ </p>
<ul>
<% User.all.each do |user| %>
<li><%= user.name %></li>
<% end %> 
</ul>