<%= render layout: "layouts/mainbar" do %>
  <div class="col-md-4 col-sm-4 col-xs-6"></div>
  <div class="col-md-4 col-sm-4 col-xs-6"></div>
  <div class="col-md-4 col-sm-4 col-xs-6">
    <div class="pull-right">
      <h4>Your Profile <i class="fa fa-user lblue"></i></h4>
    </div>
  </div>
<% end %>

<%= render partial: "bigmap", locals: {user: current_user} %>
<%= render partial: "minimap", locals: {user: current_user} %>

<h3>Create a New Map</h3>
<%= form_tag("/maps") do %>
  <%= label_tag('map[name]', "Name") %>
  <%= text_field_tag('map[name]') %>
<%= submit_tag "Create Map", :id => "createmap" %>
<% end %>

<%= form_tag(user_friends_path(@user)) do %>
  <%= text_field_tag :friend_name %>
  <%= submit_tag "Find People to Follow!" %>
<% end %>


<p> ~ Test Code Please Ignore ~ </p>
<ul>
<% User.all.each do |user| %>
<li><%= user.name %></li>
<% end %> 
</ul>