<h1><%= @user.name %>'s Profile</h1>

<div id="map-wrapper">
  <div class="custom-popup" id= 'map'>
    <script>
      $(function() {
        map = new MakeMap("<%= user_geojson_path(@user) %>","user#show");
      });
    </script>
  </div>
</div>

<h3>Maps:</h3>
<ul id="mapList">
  <% @user.maps.each do |map| %>
    <li class="mapListItem" id="map-<%= map.id %>"><%= link_to map.name, map_path(map) %></li>
  <% end %>
</ul>

<h3>Following:</h3>
<ul>
<% @user.friends.each do |friend| %>
  <li><%= link_to friend.name, user_path(friend) %></li>
<% end %>
</ul>


<h3>Followers:</h3>
<ul>
<% @user.followers.each do |friend| %>
  <li><%= link_to friend.name, user_path(friend) %></li>
<% end %>
</ul>