<div class="col-md-9">
  <div id="map-wrapper">
    <div class="custom-popup" id= 'map'>
      <script>
        $(function() {
          map = new MakeMap("<%= user_geojson_path(@user) %>","user#show");
        });
      </script>
    </div>
  </div>
</div>

<div class="sidemaps col-md-3">
  <% @user.maps.each do |map| %>
    <a href="/maps/<%= map.id %>"><div class="minimap" id="map-<%= map.id %>">
      <script>
         minimap = new MakeMap("<%= map_geojson_path(map) %>","minimap","<%= map.id %>");
      </script>
      <div class="title"><p><%= map.name %></p></div>
    </div></a>
  <% end %>
</div>

<h3>Following:</h3>
<ul>
<% @user.friends.each do |friend| %>
  <li><%= link_to friend.name, user_path(friend) %></li>
<% end %>
</ul>


<h3>Followers:</h3>
<ul>
<% @user.followers.each do |friend| %>
  <li><%= link_to friend.name, user_path(friend) %></li>
<% end %>
</ul>