<!-- Sidebar starts -->
<div class="sidebar">

  <div class="sidey">

    <!-- Logo -->
    <div class="logo">
      <h1><a href="/"><i class="fa fa-map-pin br-red"></i> Ayer <span>Map Nostalgia</span></a></h1>
    </div>
    
    <!-- Sidebar navigation starts -->
    
    <!-- Responsive dropdown -->
    <div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa fa-bars"></i></a></div>
    
    <div class="side-nav">
    
      <div class="side-nav-block">
        <!-- Sidebar heading -->
        <h4>Menu</h4>
        <!-- Sidebar links -->
        <ul class="list-unstyled">
          <li><a href="<%= root_path %>"><i class="fa fa-home"></i> Home </a></li>
          <!-- Mainmenu with submenu -->
          <li class="has_submenu">
            <a href="#"><i class="fa fa-user"></i> Profile <span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
            <!-- Submenu -->
            <ul class="list-unstyled">
              <li><i class="fa fa-angle-double-right"></i>  <%= link_to "View Profile", user_path(current_user) %></li>
              <li><i class="fa fa-angle-double-right"></i>  <%= link_to "Edit Info", edit_user_registration_path %></li>
            </ul>
          </li>
          <!-- Mainmenu with submenu -->
          <li class="has_submenu">
            <a href="#"><i class="fa fa-map-o"></i> Maps <span class="badge badge-danger pull-right"><%= current_user.maps.count %></span><span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
            <!-- Submenu -->
            <ul class="list-unstyled">
              <% current_user.maps.each do |map| %>
                <li class="mapListItem" ><i class="fa fa-angle-double-right"></i>  <%= link_to map.name, map_path(map) %></li>
              <% end %>
            </ul>
          </li>
          <!-- Mainmenu with submenu -->
          <li class="has_submenu">
            <a href="#"><i class="fa fa-heart"></i> Following <span class="badge badge-danger pull-right"><%= current_user.friends.count %></span><span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
            <!-- Submenu -->
            <ul class="list-unstyled">
              <% current_user.friends.each do |friend| %>
                <li><i class="fa fa-angle-double-right"></i>  <%= link_to friend.name, user_path(friend) %></li>
              <% end %>
            </ul>
          </li>
          <!-- Mainmenu with submenu -->
          <li class="has_submenu">
            <a href="#"><i class="fa fa-users"></i> Followers <span class="badge badge-danger pull-right"><%= current_user.followers.count %></span><span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
            <!-- Submenu -->
            <ul class="list-unstyled">
              <% current_user.followers.each do |follower| %>
                <li><i class="fa fa-angle-double-right"></i>  <%= link_to follower.name, user_path(follower) %></li>
              <% end %>
            </ul>
          </li>
          <li><i class="fa fa-sign-out"></i>  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
    <!-- Sidebar navigation ends -->
  </div>
</div>
<!-- Sidebar ends -->