<h1>Hi <%= current_user.name %></h1>

<h3>Maps:</h3>
<ul>
  <% current_user.maps.each do |map| %>
    <li><%= link_to map.name, map_path(map) %></li>
  <% end %>
</ul>

<p>Create a New Map</p>
<%= form_tag("/maps") do %>
  <%= label_tag('map[name]', "Name") %>
  <%= text_field_tag('map[name]') %>
  <%= hidden_field_tag('lat') %>
  <%= hidden_field_tag('long') %>
<%= submit_tag "Create Map", :id => "createmap" %>
<% end %>

<script> 
$(function() {
  $("#createmap").val("Automagical").prop('disabled', true);
  getCoordinates(function(latitude,longitude){
    $("#lat").val(latitude);
    $("#long").val(longitude);
    $("#createmap").val("Create Map").prop('disabled', false);
  });
});
</script>
