<h1>Hi <%= @user.name %></h1>

<h3>Maps:</h3>
<ul>
  <% @user.maps.each do |map| %>
    <li><%= link_to map.name, map_path(map) %></li>
  <% end %>
</ul>

<p>Create a New Map</p>
<%= form_tag("/maps") do %>
  <%= label_tag('map[name]', "Name") %>
  <%= text_field_tag('map[name]') %>
<%= submit_tag "Create Map", :id => "createmap" %>
<% end %>

<%= link_to "Add a Friend", user_friends_path(@user) %>
