<!-- Mainmenu with submenu -->
<li class="has_submenu">
  <a href="#"><i class="fa fa-map-o"></i> Maps <span class="badge badge-info pull-right"><%= current_user.maps.count %></span><span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
  <!-- Submenu -->
  <ul class="list-unstyled">
    <%= form_tag(("/maps"), :html => {:class => "ui-element-container form-inline"}) do %>
      <div class="input-group input-group-sm">
        <%= text_field_tag 'map[name]', nil, :class => 'form-control', :placeholder => 'Create Map'%>
        <span class="input-group-btn"><%= submit_tag "+", :id => "createmap", :class => "btn btn-info" %></span>
      </div>
    <% end %>
    <% current_user.maps.each do |map| %>
      <li 
      class="mapListItem" ><i class="fa fa-angle-double-right"></i>  
      <%= link_to map.name, map_path(map) %></li>
    <% end %>
  </ul>
</li>
<!-- Mainmenu with submenu -->
<li class="has_submenu">
  <a href="#"><i class="fa fa-heart"></i> Following <span class="badge badge-info pull-right"><%= current_user.friends.count %></span><span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
  <!-- Submenu -->
  <ul id= "following" class="list-unstyled">
    <%= form_tag(user_friends_path(current_user), remote: true, :html => {:class => "ui-element-container form-inline"}) do %>
      <li><div class="input-group input-group-sm">
        <%= text_field_tag :friend_name, nil, :class => 'form-control', :placeholder => 'Follow' %>
        <span class="input-group-btn"><%= submit_tag "+", :class => "btn btn-info" %></span>
      </div></li>
    <% end %>
    <% current_user.friends.each do |friend| %>
    <li>
    <%=image_tag friend.avatar.url(:thumb), :class => "img-responsive img-circle-frfo"%>
    <%= link_to friend.name, user_path(friend) %>
    </li>
    <% end %>
  </ul>

</li>
<!-- Mainmenu with submenu -->
<li class="has_submenu">
  <a href="#"><i class="fa fa-users"></i> Followers <span class="badge badge-info pull-right"><%= current_user.followers.count %></span><span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
  <!-- Submenu -->
  <ul class="list-unstyled">
    <% current_user.followers.each do |follower| %>
    <li>
      <%=image_tag follower.avatar.url(:thumb), :class => "img-responsive img-circle-frfo"%>
      <%= link_to follower.name, user_path(follower) %>
    </li>  
    <% end %>
  </ul>
</li>
<li><%= link_to destroy_user_session_path, :method => :delete do %>
  <i class="fa fa-sign-out"></i>
  Sign Out
<% end %></li>         