<!-- Sidebar starts -->
<div class="sidebar">

  <div class="sidey">

    <!-- Logo -->
    <div class="logo" style="padding-top:0">
      <h1><a href="/"><i class="fa fa-map-marker br-lblue"></i></i> Ayer <span>Map Nostalgia</span></a></h1>
    </div>
    
    <!-- Sidebar navigation starts -->
    
    <!-- Responsive dropdown -->
    <div class="sidebar-dropdown"><a href="#" class="br-blue"><i class="fa fa-bars"></i></a></div>
    
    <div class="side-nav" style="padding-top:0">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
          <%=image_tag current_user.avatar.url(:thumb), :class => "img-responsive img-circle"%>
        <% end %>
        <%= current_user.name.upcase %>
      <div class="side-nav-block">
        <!-- Sidebar links -->
        <ul class="list-unstyled">
          <%= render partial: "layouts/logged_in_sidebar" %>
        </ul>
      </div>
      <% else %>
        <div class="side-nav-block">
          <!-- Sidebar heading -->
          <h4>Menu</h4>
          <!-- Sidebar links -->
          <ul class="list-unstyled">
            <%= render partial: "layouts/logged_out_sidebar" %>
          </ul>
        </div>
      <% end %>
    </div>
    <!-- Sidebar navigation ends -->
  </div>
</div>
<!-- Sidebar ends -->