<!DOCTYPE html>
<html>
<head>
  <title>Nostalgeo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  
<nav>
  <% if logged_in? %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Login", login_path %>
    <%= link_to "Sign Up", new_user_path %>
  <% end %>
</nav>

<p class="notice">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</p>
  
<%= yield %>

</body>
</html>