<!DOCTYPE html>
<html>
<head>
  <title>Nostalgeo</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

</head>
<body>

<% if user_signed_in? %>
  <%= link_to "Home", root_path %> | <%= link_to "Profile", user_path(current_user) %> | <%= link_to "Edit Info", edit_user_registration_path %> | <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Log In", new_user_session_path %> | <%= link_to "Sign Up", new_user_registration_path %> 
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>